<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LoyltyApp.Properties.Settings.Setting" connectionString="&quot;Data Source=DESKTOP-NA1U314\DATA_USER; Initial Catalog=LoyalityDBApplication; User ID=user;Password=8080;&quot;;"
            providerName="" />
    </connectionStrings>
</configuration>